src/main/wsdl/sccsystem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.5.2.218/Services1.0/services/sccsystem" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://10.5.2.218/Services1.0/services/sccsystem" xmlns:intf="http://10.5.2.218/Services1.0/services/sccsystem" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://scc.segue.com" xmlns:tns2="http://webservice.scc.segue.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://webservice.scc.segue.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://scc.segue.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Entity">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="NamedEntity">
    <complexContent>
     <extension base="tns2:Entity">
      <sequence>
       <element name="name" nillable="true" type="xsd:string"/>
       <element name="description" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://scc.segue.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservice.scc.segue.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="AppModule">
    <complexContent>
     <extension base="tns2:NamedEntity">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfAppModule">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:AppModule[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ExtendedAppModule">
    <complexContent>
     <extension base="tns1:AppModule">
      <sequence>
       <element name="buildNumber" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ExtendedArrayOfAppModule">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:ExtendedAppModule[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertToReadableTimeRequest">

      <wsdl:part name="time" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="encryptPasswordRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="plainPwd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="convertToReadableTimeResponse">

      <wsdl:part name="convertToReadableTimeReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getApplicationModulesResponse">

      <wsdl:part name="getApplicationModulesReturn" type="tns1:ArrayOfAppModule"/>

   </wsdl:message>

   <wsdl:message name="getExtendedApplicationModulesResponse">

      <wsdl:part name="getExtendedApplicationModulesReturn" type="tns1:ExtendedArrayOfAppModule"/>

   </wsdl:message>

   <wsdl:message name="convertFromReadableTimeResponse">

      <wsdl:part name="convertFromReadableTimeReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="encryptPasswordResponse">

      <wsdl:part name="encryptPasswordReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getRepositoryInstanceIDResponse">

      <wsdl:part name="getRepositoryInstanceIDReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="logonUserRequest">

      <wsdl:part name="username" type="xsd:string"/>

      <wsdl:part name="plainPwd" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="logonUserResponse">

      <wsdl:part name="logonUserReturn" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="getExtendedApplicationModulesRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="convertFromReadableTimeRequest">

      <wsdl:part name="time" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getApplicationModulesRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="getRepositoryInstanceIDRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

   </wsdl:message>

   <wsdl:portType name="SystemService">

      <wsdl:operation name="logonUser" parameterOrder="username plainPwd">

         <wsdl:input message="impl:logonUserRequest" name="logonUserRequest"/>

         <wsdl:output message="impl:logonUserResponse" name="logonUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="convertToReadableTime" parameterOrder="time">

         <wsdl:input message="impl:convertToReadableTimeRequest" name="convertToReadableTimeRequest"/>

         <wsdl:output message="impl:convertToReadableTimeResponse" name="convertToReadableTimeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="convertFromReadableTime" parameterOrder="time">

         <wsdl:input message="impl:convertFromReadableTimeRequest" name="convertFromReadableTimeRequest"/>

         <wsdl:output message="impl:convertFromReadableTimeResponse" name="convertFromReadableTimeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getApplicationModules" parameterOrder="sessionId">

         <wsdl:input message="impl:getApplicationModulesRequest" name="getApplicationModulesRequest"/>

         <wsdl:output message="impl:getApplicationModulesResponse" name="getApplicationModulesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getExtendedApplicationModules" parameterOrder="sessionId">

         <wsdl:input message="impl:getExtendedApplicationModulesRequest" name="getExtendedApplicationModulesRequest"/>

         <wsdl:output message="impl:getExtendedApplicationModulesResponse" name="getExtendedApplicationModulesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="encryptPassword" parameterOrder="sessionId plainPwd">

         <wsdl:input message="impl:encryptPasswordRequest" name="encryptPasswordRequest"/>

         <wsdl:output message="impl:encryptPasswordResponse" name="encryptPasswordResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRepositoryInstanceID" parameterOrder="sessionId">

         <wsdl:input message="impl:getRepositoryInstanceIDRequest" name="getRepositoryInstanceIDRequest"/>

         <wsdl:output message="impl:getRepositoryInstanceIDResponse" name="getRepositoryInstanceIDResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="sccsystemSoapBinding" type="impl:SystemService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="logonUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logonUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.webservice.scc.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="logonUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.5.2.218/Services1.0/services/sccsystem" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertToReadableTime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertToReadableTimeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.webservice.scc.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="convertToReadableTimeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.5.2.218/Services1.0/services/sccsystem" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="convertFromReadableTime">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertFromReadableTimeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.webservice.scc.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="convertFromReadableTimeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.5.2.218/Services1.0/services/sccsystem" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getApplicationModules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getApplicationModulesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.webservice.scc.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getApplicationModulesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.5.2.218/Services1.0/services/sccsystem" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getExtendedApplicationModules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExtendedApplicationModulesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.webservice.scc.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getExtendedApplicationModulesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.5.2.218/Services1.0/services/sccsystem" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="encryptPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="encryptPasswordRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.webservice.scc.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="encryptPasswordResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.5.2.218/Services1.0/services/sccsystem" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRepositoryInstanceID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRepositoryInstanceIDRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://impl.webservice.scc.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRepositoryInstanceIDResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.5.2.218/Services1.0/services/sccsystem" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SystemServiceService">

      <wsdl:port binding="impl:sccsystemSoapBinding" name="sccsystem">

         <wsdlsoap:address location="http://10.5.2.218/Services1.0/services/sccsystem"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>