src/main/wsdl/tmperformer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tm.segue.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://tm.segue.com" xmlns:intf="http://tm.segue.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://tm.segue.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SPTestPlanningNode">
    <sequence>
     <element name="miId" type="xsd:int"/>
     <element name="msName" nillable="true" type="xsd:string"/>
     <element name="msDescription" nillable="true" type="xsd:string"/>
     <element name="miKind" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfSPTestPlanningNode">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SPTestPlanningNode[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="SPNamedEntity">
    <sequence>
     <element name="miId" type="xsd:int"/>
     <element name="msName" nillable="true" type="xsd:string"/>
     <element name="msDescription" nillable="true" type="xsd:string"/>
     <element name="msFileSize" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfSPNamedEntity">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SPNamedEntity[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="SPExecution">
    <sequence>
     <element name="miId" type="xsd:int"/>
     <element name="msName" nillable="true" type="xsd:string"/>
     <element name="msExecutionDefinition" nillable="true" type="xsd:string"/>
     <element name="miTimestamp" type="xsd:int"/>
     <element name="miTestDefinitionId" type="xsd:int"/>
     <element name="msExecutionServer" nillable="true" type="xsd:string"/>
     <element name="miStatus" type="xsd:int"/>
     <element name="miVersion" type="xsd:int"/>
     <element name="miBuild" type="xsd:int"/>
     <element name="mVersionName" nillable="true" type="xsd:string"/>
     <element name="mBuildName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SPNodeProperty">
    <sequence>
     <element name="msName" nillable="true" type="xsd:string"/>
     <element name="msValue" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfSPNodeProperty">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SPNodeProperty[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfSPExecution">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SPExecution[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="SPSuccessMeasure">
    <sequence>
     <element name="miId" type="xsd:int"/>
     <element name="msName" nillable="true" type="xsd:string"/>
     <element name="msDescription" nillable="true" type="xsd:string"/>
     <element name="mbCondWasActive" type="xsd:boolean"/>
     <element name="mfCondMaxValue" type="xsd:float"/>
     <element name="mfValue" type="xsd:float"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfSPSuccessMeasure">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SPSuccessMeasure[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="SPSourceControlInfo">
    <sequence>
     <element name="mProjectPath" nillable="true" type="xsd:string"/>
     <element name="mProvider" nillable="true" type="xsd:string"/>
     <element name="mRepInfo" nillable="true" type="xsd:string"/>
     <element name="mUser" nillable="true" type="xsd:string"/>
     <element name="mUNCUser" nillable="true" type="xsd:string"/>
     <element name="mUNCPassword" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeExecutionResponse">

      <wsdl:part name="removeExecutionReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getExecutionsRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="iTestDefId" type="xsd:int"/>

      <wsdl:part name="iFilterId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getVersionsRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="iNodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getExecutionRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="iExecutionId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getExecutionNodePropertiesRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="executionId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getExecutionSuccessMeasuresResponse">

      <wsdl:part name="getExecutionSuccessMeasuresReturn" type="impl:ArrayOfSPSuccessMeasure"/>

   </wsdl:message>

   <wsdl:message name="addNodeResponse">

      <wsdl:part name="addNodeReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getBuildsRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="iVersionId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="updateNodeRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="node" type="impl:SPTestPlanningNode"/>

   </wsdl:message>

   <wsdl:message name="addExecutionResponse">

      <wsdl:part name="addExecutionReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="removeNodeRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="nodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getNodePathRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="nodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getChildNodesResponse">

      <wsdl:part name="getChildNodesReturn" type="impl:ArrayOfSPTestPlanningNode"/>

   </wsdl:message>

   <wsdl:message name="getTestPlanningFiltersResponse">

      <wsdl:part name="getTestPlanningFiltersReturn" type="impl:ArrayOfSPNamedEntity"/>

   </wsdl:message>

   <wsdl:message name="getNodePropertiesRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="iNodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getChildNodesRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="iParentNodeId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getExecutionInfosRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="executionId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="removeNodeResponse">

      <wsdl:part name="removeNodeReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getAgentClustersFileResponse">

      <wsdl:part name="getAgentClustersFileReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addNodeRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

      <wsdl:part name="iParentNodeId" type="xsd:int"/>

      <wsdl:part name="node" type="impl:SPTestPlanningNode"/>

   </wsdl:message>

   <wsdl:message name="getAgentClustersFileRequest">

      <wsdl:part name="sessionId" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="getBuildsResponse">

      <wsdl:part name="getBuildsReturn" type="impl:ArrayOfSPNamedEntity"/>

   </wsdl:message>

   <wsdl:message name="getSourceControlInfoResponse">

      <wsdl:part name="getSourceControlInfoReturn" type="impl:SPSourceControlInfo"/>

   </wsdl:message>

   <wsdl:message name="getVersionsResponse">

      <wsdl:part name="getVersionsReturn" type="impl:ArrayOfSPNamedEntity"/>

   </wsdl:message>

   <wsdl:message name="getTestPlanningFiltersRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="iProjectId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addExecutionRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="execution" type="impl:SPExecution"/>

   </wsdl:message>

   <wsdl:message name="getExecutionsResponse">

      <wsdl:part name="getExecutionsReturn" type="impl:ArrayOfSPExecution"/>

   </wsdl:message>

   <wsdl:message name="getExecutionSuccessMeasuresRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="executionId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getExecutionNodePropertiesResponse">

      <wsdl:part name="getExecutionNodePropertiesReturn" type="impl:ArrayOfSPNodeProperty"/>

   </wsdl:message>

   <wsdl:message name="getExecutionFilesResponse">

      <wsdl:part name="getExecutionFilesReturn" type="impl:ArrayOfSPNamedEntity"/>

   </wsdl:message>

   <wsdl:message name="updateNodeResponse">

      <wsdl:part name="updateNodeReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getSourceControlInfoRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="testDefID" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="removeExecutionRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="executionId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="getNodePathResponse">

      <wsdl:part name="getNodePathReturn" type="impl:ArrayOfSPTestPlanningNode"/>

   </wsdl:message>

   <wsdl:message name="getExecutionInfosResponse">

      <wsdl:part name="getExecutionInfosReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getExecutionResponse">

      <wsdl:part name="getExecutionReturn" type="impl:SPExecution"/>

   </wsdl:message>

   <wsdl:message name="getNodePropertiesResponse">

      <wsdl:part name="getNodePropertiesReturn" type="impl:ArrayOfSPNodeProperty"/>

   </wsdl:message>

   <wsdl:message name="getExecutionFilesRequest">

      <wsdl:part name="id" type="xsd:long"/>

      <wsdl:part name="executionId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="PerformerService">

      <wsdl:operation name="getChildNodes" parameterOrder="id iParentNodeId">

         <wsdl:input message="impl:getChildNodesRequest" name="getChildNodesRequest"/>

         <wsdl:output message="impl:getChildNodesResponse" name="getChildNodesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeNode" parameterOrder="id nodeId">

         <wsdl:input message="impl:removeNodeRequest" name="removeNodeRequest"/>

         <wsdl:output message="impl:removeNodeResponse" name="removeNodeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getVersions" parameterOrder="id iNodeId">

         <wsdl:input message="impl:getVersionsRequest" name="getVersionsRequest"/>

         <wsdl:output message="impl:getVersionsResponse" name="getVersionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addNode" parameterOrder="sessionId iParentNodeId node">

         <wsdl:input message="impl:addNodeRequest" name="addNodeRequest"/>

         <wsdl:output message="impl:addNodeResponse" name="addNodeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getBuilds" parameterOrder="id iVersionId">

         <wsdl:input message="impl:getBuildsRequest" name="getBuildsRequest"/>

         <wsdl:output message="impl:getBuildsResponse" name="getBuildsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getExecution" parameterOrder="id iExecutionId">

         <wsdl:input message="impl:getExecutionRequest" name="getExecutionRequest"/>

         <wsdl:output message="impl:getExecutionResponse" name="getExecutionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAgentClustersFile" parameterOrder="sessionId">

         <wsdl:input message="impl:getAgentClustersFileRequest" name="getAgentClustersFileRequest"/>

         <wsdl:output message="impl:getAgentClustersFileResponse" name="getAgentClustersFileResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNodeProperties" parameterOrder="id iNodeId">

         <wsdl:input message="impl:getNodePropertiesRequest" name="getNodePropertiesRequest"/>

         <wsdl:output message="impl:getNodePropertiesResponse" name="getNodePropertiesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNodePath" parameterOrder="id nodeId">

         <wsdl:input message="impl:getNodePathRequest" name="getNodePathRequest"/>

         <wsdl:output message="impl:getNodePathResponse" name="getNodePathResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getTestPlanningFilters" parameterOrder="id iProjectId">

         <wsdl:input message="impl:getTestPlanningFiltersRequest" name="getTestPlanningFiltersRequest"/>

         <wsdl:output message="impl:getTestPlanningFiltersResponse" name="getTestPlanningFiltersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateNode" parameterOrder="sessionId node">

         <wsdl:input message="impl:updateNodeRequest" name="updateNodeRequest"/>

         <wsdl:output message="impl:updateNodeResponse" name="updateNodeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getExecutions" parameterOrder="id iTestDefId iFilterId">

         <wsdl:input message="impl:getExecutionsRequest" name="getExecutionsRequest"/>

         <wsdl:output message="impl:getExecutionsResponse" name="getExecutionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getExecutionNodeProperties" parameterOrder="id executionId">

         <wsdl:input message="impl:getExecutionNodePropertiesRequest" name="getExecutionNodePropertiesRequest"/>

         <wsdl:output message="impl:getExecutionNodePropertiesResponse" name="getExecutionNodePropertiesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getExecutionSuccessMeasures" parameterOrder="id executionId">

         <wsdl:input message="impl:getExecutionSuccessMeasuresRequest" name="getExecutionSuccessMeasuresRequest"/>

         <wsdl:output message="impl:getExecutionSuccessMeasuresResponse" name="getExecutionSuccessMeasuresResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getExecutionInfos" parameterOrder="id executionId">

         <wsdl:input message="impl:getExecutionInfosRequest" name="getExecutionInfosRequest"/>

         <wsdl:output message="impl:getExecutionInfosResponse" name="getExecutionInfosResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getExecutionFiles" parameterOrder="id executionId">

         <wsdl:input message="impl:getExecutionFilesRequest" name="getExecutionFilesRequest"/>

         <wsdl:output message="impl:getExecutionFilesResponse" name="getExecutionFilesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addExecution" parameterOrder="id execution">

         <wsdl:input message="impl:addExecutionRequest" name="addExecutionRequest"/>

         <wsdl:output message="impl:addExecutionResponse" name="addExecutionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removeExecution" parameterOrder="id executionId">

         <wsdl:input message="impl:removeExecutionRequest" name="removeExecutionRequest"/>

         <wsdl:output message="impl:removeExecutionResponse" name="removeExecutionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSourceControlInfo" parameterOrder="id testDefID">

         <wsdl:input message="impl:getSourceControlInfoRequest" name="getSourceControlInfoRequest"/>

         <wsdl:output message="impl:getSourceControlInfoResponse" name="getSourceControlInfoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="tmperformerSoapBinding" type="impl:PerformerService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getChildNodes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getChildNodesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getChildNodesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeNode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeNodeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeNodeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVersions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVersionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getVersionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addNode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addNodeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addNodeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBuilds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBuildsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBuildsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getExecution">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExecutionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getExecutionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAgentClustersFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAgentClustersFileRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAgentClustersFileResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNodeProperties">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNodePropertiesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNodePropertiesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNodePath">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNodePathRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNodePathResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTestPlanningFilters">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTestPlanningFiltersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTestPlanningFiltersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateNode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateNodeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateNodeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getExecutions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExecutionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getExecutionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getExecutionNodeProperties">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExecutionNodePropertiesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getExecutionNodePropertiesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getExecutionSuccessMeasures">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExecutionSuccessMeasuresRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getExecutionSuccessMeasuresResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getExecutionInfos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExecutionInfosRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getExecutionInfosResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getExecutionFiles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExecutionFilesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getExecutionFilesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addExecution">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addExecutionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addExecutionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeExecution">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeExecutionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeExecutionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSourceControlInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSourceControlInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSourceControlInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://tm.segue.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PerformerServiceService">

      <wsdl:port binding="impl:tmperformerSoapBinding" name="tmperformer">

         <wsdlsoap:address location="http://atlis-tm/Services1.0/services/tmperformer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
